opt/stable-diffusion-app
usr/bin/stable_diffusion_app
usr/share/stable_diffusion_app
usr/local/bin/stable_diffusion_app
usr/bin/stable-diffusion-app
usr/share/stable-diffusion-app
usr/local/bin/stable-diffusion-app